/* 基礎設定 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Microsoft JhengHei", sans-serif;
}

/* 導覽列 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 10%;
    background-color: #0071c2;
    color: white;
}

.logo a{
   color:white;
   text-decoration: none;
   font-size: 24px;
   font-weight: bold;
   letter-spacing:1px;
   cursor: pointer;
}

.logo a:hover {
    color: #00a1ff;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00a1ff;
}

.trip-item{
   display: flex;
   gap: 40px;
   margin-bottom:2px;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   padding: 0 10%;
   background-color:#acdbf7;
}

.trip-photo img{
   width:400px;
   height:300px;
   object-fit:cover; /* 確保圖片不被壓扁或拉長 */
   margin-top:20px;
   margin-bottom:20px;
   margin-left: auto;
   margin-right: 20px;
}
.date h2{
   width:200px;
   color: #003580;
   margin-bottom: 15px;
}



